@tailwind base;
@tailwind components;
@tailwind utilities;



*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

 

  html, body {
  overflow-x: hidden;
  }

/* @media (max-width: 800px) {
  html, body {
  overflow-x: hidden;
  }
} */
